# ==========================================
# Core & Web Framework
# ==========================================
fastapi
uvicorn[standard]

# ==========================================
# Validação e Configuração
# ==========================================
pydantic
pydantic-settings

# ==========================================
# Comunicação Externa (HTTP)
# ==========================================
httpx

# ==========================================
# Métricas
# ==========================================
prometheus-client

# ==========================================
# Testes
# ==========================================
pytest
pytest-asyncio


sqlalchemy
asyncpg
alembic